[Unit]
Description=Flask Application
After=network.target

[Service]
User=root
WorkingDirectory=/home/ubuntu/flask
ExecStart=/usr/bin/env FLASK_APP=app.py flask run --host=0.0.0.0 --port=5000

[Install]
WantedBy=multi-user.target